extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Eiffel",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Morbi metus nunc, posuere a mattis quis, eleifend et odio. Proin eleifend tincidunt scelerisque. Suspendisse fermentum urna vel erat tempus mollis. Proin leo tellus, varius nec ex in, auctor molestie orci. Nullam sit amet mattis sapien. 

                p quis risus est. Duis diam arcu, sagittis eget ornare faucibus, commodo eu dui. In sit amet urna vel dolor porttitor dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum 

                p ultricies nibh a ligula tincidunt malesuada. Morbi tincidunt nisl nulla, sagittis porta metus posuere vitae. Proin pellentesque eu tellus vel tempor. Nulla fermentum efficitur diam, id rhoncus arcu rhoncus nec. Donec tincidunt, eros efficitur feugiat fermentum, mi libero sagittis eros, nec pharetra mauris sapien id tortor. Vivamus risus justo, feugiat ut ante a, molestie dignissim nisi. Phasellus consequat rhoncus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", lt="Icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p vitae. Proin pellentesque eu tellus vel tempor. Nulla fermentum efficitur diam, id rhoncus arcu rhoncus nec. Donec tincidunt, eros efficitur feugiat fermentum, mi libero sagittis eros, nec pharetra mauris sapien id tortor.
                .col-md-4
                    img(src="img/icono_destinos.svg", lt="Icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p vitae. Proin pellentesque eu tellus vel tempor. Nulla fermentum efficitur diam, id rhoncus arcu rhoncus nec. Donec tincidunt, eros efficitur feugiat fermentum, mi libero sagittis eros, nec pharetra mauris sapien id tortor.
                .col-md-4
                    img(src="img/icono_precios.svg", lt="Icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p vitae. Proin pellentesque eu tellus vel tempor. Nulla fermentum efficitur diam, id rhoncus arcu rhoncus nec. Donec tincidunt, eros efficitur feugiat fermentum, mi libero sagittis eros, nec pharetra mauris sapien id tortor.
    